<footer class="footer">
  <div class="container justify-content-between d-flex">
  <div>
  <ul class="list-inline">
  <li class="list-inline-item my-2 mx-4"><a href="#">服務方案</a></li>
  <li class="list-inline-item my-2 mx-4"><a href="#">關於職旅</a></li>
  <li class="list-inline-item my-2 mx-4"><a href="#">聯絡我們</a></li>
  <li class="list-inline-item my-2 mx-4"><a href="#">隱私權政策</a></li>
  <li class="list-inline-item my-2 mx-4"><a href="#">用戶條款</a></li>
  </ul>
  </div>

  <div>
  <p class="text-secondary text-end">Copyright © 2025 職旅 workway. All rights reserved.</p>
  </div>
</div>
</footer>

